@use '../../scss/' as *;

.story {
  height: 300px;
  background-color: $green;
  width: 590px;
  display: flex;
  padding: 20px 0;

  &__item {
    background-color: $blue;
    height: 50px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    cursor: pointer;
  }
}
