@use '../../scss/' as *;

.create {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  &__sidebar {
    width: 360px;
    height: 100vh;
    padding: 10px 20px;
    background-color: $white;
    box-shadow: $box-shadow;
    position: relative;

    &__header {
      display: flex;
      align-items: center;
      position: relative;
    }

    &__header-logo img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }

    &__header-close {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-icon;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
    }

    &__header-close:hover {
      background-color: $gray;
    }

    &__header::before {
      content: '';
      position: absolute;
      top: calc(5px + 100%);
      right: -20px;
      left: -20px;
      height: 1px;
      background-color: $divider;
    }

    &__setting {
      display: flex;
      align-items: center;
      padding: 20px 0;
      justify-content: space-between;

      .icon {
        cursor: pointer;
        padding: 10px;
        box-sizing: content-box;
        background-color: $gray-icon;
        border-radius: 50%;

        &:hover {
          background-color: gray;
        }
      }
    }

    &__authInfo {
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 30px;

      p {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
      }

      &::before {
        content: '';
        position: absolute;
        top: calc(5px + 100%);
        right: -20px;
        left: -20px;
        height: 1px;
        background-color: $divider;
      }
    }

    .add--text {
      display: flex;
      margin-top: 10px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      align-items: center;

      p {
        padding: 10px;
        border-radius: 50%;
        background-color: $gray-icon;
        margin-right: 10px;
      }

      &:hover {
        background-color: gainsboro;
      }
    }

    &__bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      box-shadow: rgba(80, 80, 87, 0.2) 0px 0px 10px 5px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      span {
        padding: 10px 50px;
        border-radius: 4px;
        background-color: $blue-btn;
        cursor: pointer;

        &:first-child {
          background-color: $gray-icon;
        }
      }
    }
  }

  &__container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .str {
      height: 330px;
      width: 220px;
      border-radius: 6px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
        transition: all 0.2s;
      }

      p {
        color: $white;
      }

      .icon {
        padding: 10px;
        box-sizing: content-box;
        background-color: $white;
        border-radius: 50%;
        transform: translateY(-10px);
      }
    }
    &__image {
      background-image: linear-gradient(to bottom right, #6448ee, #8bd8ff);
      margin-right: 5px;
    }

    &__document {
      background-image: linear-gradient(to bottom left, #a748d8, #e6537f);
      margin-left: 5px;
    }

    .previewImg {
      background-color: $white;
      padding: 10px;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;

      img {
        height: 500px;
        width: 300px;
        object-fit: cover;
        margin: 20px auto;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
}
