@use '../../scss/' as *;

.stories {
  &__sidebar {
    width: 400px;
    height: 100vh;
    position: fixed;
    padding: 10px;
    background-color: $white;

    &__header {
      display: flex;
      align-items: center;
      position: relative;
    }

    &__header-logo img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }

    &__header-close {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-icon;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
    }

    &__header-close:hover {
      background-color: $gray;
    }

    &__header::before {
      content: '';
      position: absolute;
      top: calc(5px + 100%);
      right: 0;
      left: 0;
      height: 1px;
      background-color: $divider;
    }
  }

  &__container {
    margin-left: 400px;
    background-color: rgb(42, 40, 40);
    height: 100vh;

    .mySwiper {
      margin: 0 auto;
      max-width: 400px;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
