$body-bg: #f0f2f5;
$white: #fff;
$black: #000;
$blue: #4081f2;
$blue-btn: #1877f2;
$green: #42b72a;
$gray: #76787c;
$gray-icon: #e4e6eb;
$primary-text: #050505;
$secondary-text: #65676b;
$lb-color: #606770;

$box-shadow: rgba(80, 80, 87, 0.2) 0px 7px 10px 0px;

$header-heigh: 55px;
$header-shrink-height: 5rem;
$mobile-width: 600px;
$tablet-width: 1024px;
$sidebar-width: 350px;
$divider: #ced0d4;

$font-family: 'Montserrat', sans-serif;
